/* You can add global styles to this file, and also import other style files */
@import 'bulma/css/bulma.css';

*{
  background-color: #fff !important;
  color:black;
}
body, table, tbody, thead, tfoot, tr, th, td {
  background-color: #fff;
  color:black;
}